<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        
        body {
            font-family: 'Arial', sans-serif;
            background-color: #faf3e049;
            color: #333333; 
            margin: 0;
            padding: 0;
        }

       
        h2 {
            margin-top: 40px;
            font-size: 28px;
            color: #ac7685; 
            text-align: center;
            text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
        }

       
        .table-container {
            width: 80%;
            margin: 40px auto;
            border-radius: 12px;
            overflow: hidden;
        }

        
        table {
            width: 90%;
            border-collapse: collapse;
            background-color: #FFFFFF; 
        }

        th, td {
            text-align: center;
            padding: 12px 15px;
            border-bottom: 1px solid #000;
        }

        th {
            background-color: #ac7685; 
            color: #FFFFFF; 
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 500;
        }

        tr:nth-child(odd) {
            background-color: #F9F9F9; 
        }

        tr:nth-child(even) {
            background-color: #FFFFFF; 
        }
        
        a {
            text-decoration: none;
            color: #ac7685; 
            font-weight: 500;
            transition: color 0.3s ease, transform 0.3s ease;
            border: 1px solid black;
            padding: 5px 12px;
            border-radius: 25px;
        }

       
        .add-button {
            display: inline-block;
            margin: 20px auto;
            padding: 12px 25px;
            background-color: #ac7685; 
            color: #FFFFFF;
            text-align: center;
            text-decoration: none;
            font-weight: 500;
            border: 0;
            font-size: 16px;
            border-radius: 25px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
        }

        .add-button:hover {
            background-color: #000; 
            transform: scale(1.1);
            box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
            transition: 1s;
        }
    </style>
</head>
<body>
    <div align="center" class="table-container">
        <h2>View User</h2>
        <table border="1">
            <thead>
                <tr>
                    <th>Sr No</th>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Deadline</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% record.map((val,i)=>{ %>
                    <tr>
                        <td><%= ++i %></td>
                        <td><%= val. task %></td>
                        <td><%= val. status %></td>
                        <td><%= val.deadline %></td>
                        <td>
                            <a href="/deleteuser?deleteid=<%= val.id %>">Delete</a> ||
                            <a href="edituser?editid=<%= val.id %>">Edit</a>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
        <br>
        <a href="/add" class="add-button">Add User</a>
    </div>
</body>
</html>
